.notification-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-width: 100%;
}

.notification-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left;
}

.crossButton {
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    max-width: 10%;
}
.crossButton:hover {
    color: red;
}
