.view-product-container1 {
    background-color: #333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width:100%;
  }
  
  .product-card1 {
    background-color: #444;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    margin: 20px;
  }
  
  .product-image1 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .product-name1 {
    font-size: 28px;
    margin: 10px 0;
  }
  
  .product-description1 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .product-price1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .buy-button1 {
    background-color: white;
    color: #333;
    border: none;
    padding: 12px 24px;
    margin: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    justify-content: center;
  }
  
  .buy-button1:hover {
    background-color: #ddd;
  }
  